
.bottom-div-with-hidden-scrollbar::-webkit-scrollbar {
  width:5px;
  height: 8px;

}

.bottom-div-with-hidden-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(177, 176, 176); 
  border-radius: 10px;
  
}

/* Handle */
.bottom-div-with-hidden-scrollbar::-webkit-scrollbar-thumb {
  background: #C68A02; 
  border-radius: 10px;
  width: 5px;
}

/* Handle on hover */
.bottom-div-with-hidden-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #ac7902; 
}

.bottom-div-with-hidden-scrollbar {
  scrollbar-width: 5px; /* Firefox */
}



